.button-link {
  line-height: 1.3;
  color: $basic-white;
  text-transform: uppercase;
  background-color: $basic-green;
  border: none;
  cursor: pointer;
  transition: background-color $smooth-trn,
    color $smooth-trn;

  &:hover {
    background-color: $special-green;
  }

  &:active {
    color: fade-out($basic-white, 0.7);
  }
}
