.caption {
  @include flex;
  position: relative;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  min-height: 480px;
  padding: 5px 20px 0 20px;
  color: $basic-white;

  @media (max-width: $mobile) {
    background-image: linear-gradient(to bottom, fade-out($basic-green, 0.15) 63%, $basic-white 63%),
      url("../img/index-background.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 100%;
  }

  @media (min-width: $tablet) {
    justify-content: flex-start;
    min-height: 845px;
    padding: 0 117px 0 112px;
    color: $basic-black;
    background-image: none;
  }

  @media (min-width: $desktop) {
    @include container;
    min-height: 607px;
    padding: 0 190px;
  }
}

.caption__wrapper {
  width: 100%;
}

.caption__title {
  font-size: 36px;
  font-weight: inherit;
  line-height: 1;
  text-align: center;

  @media (min-width: $tablet) {
    width: 100%;
    margin-top: 33px;
    margin-left: 5px;
    font-size: 60px;
    text-align: left;
  }

  @media (min-width: $desktop) {
    margin-top: 54px;
    margin-left: 0;
  }
}

.caption__slogan {
  line-height: 1;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet) {
    margin-left: 5px;
    font-size: 20px;
    text-align: left;
  }

  @media (min-width: $desktop) {
    margin-left: 0;
  }
}

.caption__link {
  display: block;
  margin-bottom: 0;
  padding: 10px 0;
  text-align: center;
  text-decoration: none;

  @media (max-width: $mobile) {
    width: 100%;
  }

  @media (min-width: $tablet) {
    min-width: 244px;
    min-height: 54px;
    margin-top: 29px;
    padding: 14px 25px;
    font-size: 20px;
    line-height: 1;
  }
}
