.copyright {
  background-color: $basic-grey;
  padding: 22px 20px;
}

.copyright__link {
  font-family: $special-font-family;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.1;
  color: $basic-grey-text;
}
