.extra-products {
  padding: 20px;
}

.extra-products__title {
  font-size: 24px;
  font-weight: inherit;
  line-height: 1;
  color: $basic-black;
}

.extra-products__list {
  @include reset-list-style;
}

.extra-products__all {
  background-color: $basic-green;
}

.extra-products__all-text {
  font-family: $basic-font-family;
  font-size: 16px;
  line-height: 1.25;
  color: $basic-white;
}
