.extra-product-card {
  display: grid;
  grid-template-columns: 1fr;

  @media (min-width: $tablet) {
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $desktop) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.extra-product-card__title {
  align-self: center;
  font-size: 16px;
  font-weight: inherit;
  line-height: 1;
  color: $special-grey-text-lighter;
  text-transform: uppercase;
}

.extra-product-card__text-wrapper {
  @include flex;
  justify-content: space-between;
  align-self: center;
}

.extra-product-card__text {
  font-family: $basic-font-family;
  line-height: 1;
  color: $basic-grey-text;
}

.extra-product-card__link {
  min-height: 40px;
  padding: 10px 10px;
  text-decoration: none;

  @media (min-width: $tablet) {
    grid-column: 1 / 3;
  }

  @media (min-width: $desktop) {
    align-self: center;
    text-align: center;
    grid-column: auto;
  }
}
