.extra-product-card__title {
  font-size: 16px;
  font-weight: inherit;
  line-height: 1;
  color: $special-grey-text-lighter;
  text-transform: uppercase;
}

.extra-product-card__text {
  font-family: $basic-font-family;
  line-height: 1;
  color: $basic-grey-text;
}

.extra-product-card__link {
  text-decoration: none;
}
