.live-example {
  display: grid;
  grid-template-columns: 1fr;

  @media (max-width: $mobile) {
    background-color: $special-grey;
  }
}

.live-example__title {
  margin-top: 27px;
  margin-bottom: 21px;
  margin-left: 20px;
  font-size: 36px;
  font-weight: inherit;
  line-height: 1.1;

  @media (min-width: $tablet) {
    margin-top: 28px;
    margin-left: 30px;
    font-size: 60px;
    line-height: 1;
    grid-column: 1/3;
  }

  @media (min-width: $desktop) {
    position: relative;
    width: 100%;
    max-width: 1220px;
    margin: 10px auto 75px;
  }
}

.live-example__wrapper {
  @media (min-width: $desktop) {
    background-image: linear-gradient(to right, $basic-grey 72.5%, $special-grey 72.5%);
  }
}

.live-example__inner-wrapper {
  position: relative;
  display: grid;
  padding: 0 20px;
  color: $basic-black;
  background-color: $special-grey;
  grid-template-columns: 1fr;

  @media (min-width: $tablet) {
    padding: 25px 30px;
    background-color: $basic-white;
    background-image: linear-gradient(to bottom, $basic-white 52%, $special-grey 52%);
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $desktop) {
    @include container;
    padding: 54px 110px 70px;
    background-image: inherit;
    grid-template-areas:
      "text img"
      "info img"
      "expenses slider";
  }
}

.live-example__text {
  margin-bottom: 26px;
  font-family: $basic-font-family;
  line-height: 1.3;
  color: $basic-grey-text;

  @media (min-width: $tablet) {
    width: 96%;
    font-size: 16px;
    line-height: 1.5;
    grid-column: 1/3;
  }

  @media (min-width: $desktop) {
    width: 72%;
    grid-area: text;
  }
}

.live-example__info-wrapper {
  @include flex;
  position: relative;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 33px;
  justify-self: center;

  @media (min-width: $tablet) {
    width: 80%;
    min-width: 366px;
    margin-top: 28px;
    grid-column: 1/2;
    justify-self: left;
  }

  @media (min-width: $desktop) {
    width: 40%;
    margin-top: 40px;
    margin-bottom: 0;
    grid-area: info;
  }
}

.live-example__info {
  @include flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  min-width: 124px;
  padding-top: 15px;
  border: 1px solid $slider-border;
  border-radius: 3px;

  @media (min-width: $tablet) {
    min-width: 162px;
    min-height: 70px;
  }

  @media (min-width: $desktop) {
    padding-top: 17px;
  }
}

.live-example__quantity {
  margin-bottom: -8px;
  font-size: 24px;
  line-height: 1;
  text-transform: uppercase;

  @media (min-width: $tablet) {
    font-size: 30px;
    line-height: 1.2;
  }
}

.live-example__small {
  position: relative;
  top: 16px;
  display: block;
  width: 67%;
  font-family: $basic-font-family;
  font-size: 12px;
  line-height: 1;
  text-align: center;
  color: $basic-grey-text;
  text-transform: lowercase;
  background-color: $special-grey;

  @media (min-width: $tablet) {
    top: 19px;
    width: 90%;
    font-size: 14px;
    background-color: $basic-white;
  }

  @media (min-width: $desktop) {
    top: 20px;
    background-color: $basic-grey;
  }
}

.live-example__expenses-wrapper {
  margin-left: 2px;
  justify-self: center;

  @media (min-width: $tablet) {
    @include flex;
    align-items: flex-end;
    flex-direction: column;
    margin-top: 35px;
    font-size: 20px;
    line-height: 1;
    grid-column: 2/3;
    justify-self: right;
  }

  @media (min-width: $desktop) {
    justify-content: space-between;
    flex-direction: row;
    width: 53.5%;
    margin-top: 60px;
    grid-area: expenses;
    justify-self: left;
  }
}

.live-example__expenses {
  text-transform: uppercase;

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 1.4;
  }
}

.live-example__img {
  position: absolute;
  top: 298px;
  left: -1px;

  @media (min-width: $tablet) {
    top: 302px;
    grid-column: 1/3;
  }

  @media (min-width: $desktop) {
    top: -250px;
    left: -40px;
    grid-area: img;
  }
}

.live-example__slider-wrapper {
  @include flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  margin-top: 306px;
  margin-bottom: 35px;
  justify-self: center;

  @media (min-width: $tablet) {
    width: 81%;
    margin-top: 585px;
    margin-bottom: 44px;
    grid-column: 1/3;
  }

  @media (min-width: $desktop) {
    align-self: end;
    width: 93.5%;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 40px;
    grid-area: slider;
  }
}
