.location {
  background-color: $basic-white;
  padding: 28px 19px 22px 19px;
}

.location__slogan {
  font-size: 16px;
  line-height: 1.1;
  text-transform: uppercase;
  color: $special-grey-text;
}

.location__address {
  font-family: $basic-font-family;
  line-height: 1.4;
  color: $basic-grey-text;
}
