.main-products__wrapper {
  padding: 0 20px;

  @media (min-width: $tablet) {
    padding: 0 30px;
  }

  @media (min-width: $desktop) {
    @include container;
    padding: 0 110px;
  }
}

.main-products__list {
  @include reset-list-style;
  display: grid;
  grid-template-columns: 1fr;

  @media (min-width: $tablet) {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 60px;
    grid-row-gap: 140px;
  }

  @media (min-width: $desktop) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 80px;
    grid-row-gap: 144px;
  }
}
