.page-main {
  background-color: $basic-white;
}

.page-main__title {
  font-weight: inherit;
  font-size: 36px;
  line-height: 1;
  text-align: center;
  color: $basic-black;
}

.page-main__text {
  line-height: 1.3;
  text-transform: uppercase;
  color: $basic-black;
}
