.slider {
  position: relative;

  @media (min-width: $desktop) {
    top: 2px;
  }
}

.slider__text {
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;

  @media (min-width: $tablet) {
    position: relative;
    font-size: 20px;
    line-height: 1.5;
    cursor: pointer;
    border-bottom: 1px dashed fade-out($basic-black, 0.76);
    transition: border-bottom $smooth-trn;

    &:hover {
      border-bottom: 1px solid fade-out($basic-black, 0.6);
    }

    &:active {
      border-bottom: none;
    }
  }
}

.slider__field {
  position: relative;
  width: 40%;
  height: 14px;
  margin-left: 4px;
  background-color: $basic-white;
  border: 1px solid $slider-border;
  border-radius: 6px;

  @media (min-width: $tablet) {
    width: 75%;
    height: 6px;
    background-color: $slider-scale;
    border: none;
  }

  @media (min-width: $desktop) {
    width: 74%;
  }
}

.slider__control {
  position: relative;
  top: 20%;
  left: 5%;
  width: 45%;
  height: 7px;
  background-color: $basic-green;
  border-radius: 6px;

  @media (min-width: $tablet) {
    top: -14px;
    left: 46%;
    width: 34px;
    height: 34px;
    cursor: pointer;
    background-color: $basic-white;
    border: 1px solid $slider-border;
    border-radius: 100%;
    box-shadow: $shadow-normal;
    transition: box-shadow $smooth-trn,
      border-color $smooth-trn;

    &:hover {
      box-shadow: $shadow-hover;
    }

    &:active {
      border-color: $basic-green;
      box-shadow: $shadow-pressed;
    }
  }

  @media (min-width: $desktop) {
    left: 46%;
  }
}

.slider__control-dot {
  display: none;

  @media (min-width: $tablet) {
    position: relative;
    top: 39%;
    left: 39%;
    display: block;
    width: 8px;
    height: 8px;
    background-color: $basic-green;
    border-radius: 100%;
  }
}
