/* Fonts */

$basic-font-family: "Arial", "Helvetica", sans-serif;
$special-font-family: "Oswald", "Tahoma", sans-serif;

/* Colors */

$basic-green: #68b738;
$special-green: #5eaa2f;

$basic-grey: #f2f2f2;
$special-grey: #eaeaea;
$basic-grey-text: #444444;
$special-grey-text: #111111;
$special-grey-text-lighter: #222222;

$basic-black: #000000;
$basic-white:  #ffffff;
$page-background: #fafafa;

$slider-border: #cdcdcd;
$slider-scale: #dcdcdc;

$status-error: #ff8282;

/* Viewport */

$mobile: 767px;
$tablet: 768px;
$desktop: 1440px;

/* Shadow */

$shadow-normal: 0 1px 3px rgba(0, 0, 0, 0.16);

$shadow-hover: 0 2px 4px rgba(0, 0, 0, 0.19);

$shadow-pressed: 0 3px 5px rgba(0, 0, 0, 0.2);
